#wrapper {
width: 760px; 
margin-left:auto; 
margin-right:auto; 
background: coral;
}

#leftcolumn {
float:left; 
width:150px; 
}

#rightcolumn {
margin-left:150px; 
background:#ffffff;
}

.navigation {
    font-style: italic;
    padding-left: 10px;
}

#header, #content {
    padding-left: 20px;
}

#footer {
    background-color: cornflowerblue;
    text-align: center;
    font-style: italic;
    font-size: small;
    padding: 10px 0px;
}