.dropdown:hover .dropdown-menu {
    display: block;
    }

.container {
    width: 70%;
}

nav {
    background-color: rgb(130, 112, 174);
}

nav ul li a, aside div ul li a {
        color: #E8ECF1;
}

aside {
    position: fixed;
    top: 8%;
    left:5%;
    background-color: rgb(130, 112, 174);
    padding: 1%;
    width: 9%;
}

.back-to-top {
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.vertical-menu {
    background-color: rgb(130, 112, 174);
}

.vertical-menu li a {
    color: #E8ECF1;
}

a:hover {
    color: rgb(130, 112, 174);
    font-weight: bold;
}

img {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1%;
}

footer p{
    text-align: center;
    font-size: 0.9em;
}

.note {
    text-align: left;
    border-style: ridge;
    border-width: 0.2em;
    border-color: black;
    box-sizing: border-box;
    width: 25%;
    height: 25%;
    padding: 1% 0% 1% 1%;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}